<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chapter05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>order.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Findorder</display-name>
    <servlet-name>Findorder</servlet-name>
    <servlet-class>order.Findorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Findorder</servlet-name>
    <url-pattern>/Findorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByIdServlet</display-name>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <servlet-class>order.FindProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <url-pattern>/FindProductByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editorder</display-name>
    <servlet-name>Editorder</servlet-name>
    <servlet-class>order.Editorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editorder</servlet-name>
    <url-pattern>/Editorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteorder</display-name>
    <servlet-name>Deleteorder</servlet-name>
    <servlet-class>order.Deleteorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteorder</servlet-name>
    <url-pattern>/Deleteorder</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/WEB-INF/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adduser</display-name>
    <servlet-name>Adduser</servlet-name>
    <servlet-class>user.Adduser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adduser</servlet-name>
    <url-pattern>/Adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Zhuxiao</display-name>
    <servlet-name>Zhuxiao</servlet-name>
    <servlet-class>user.Zhuxiao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Zhuxiao</servlet-name>
    <url-pattern>/Zhuxiao</url-pattern>
  </servlet-mapping>
</web-app>